<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <header paramtitle="Map"></header> -->


<!-- <ion-content padding id="map_canvas"> -->
<ion-content>
  <!-- <h3>Ionic GoogleMaps Starter</h3> -->
  <div id="map_canvas">
    <div padding>
      <!-- <ion-list>
        <ion-item>
          <ion-label fixed>Location</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>
      </ion-list> -->
    </div>
  </div>
    <!-- <button ion-button (click)="onButtonClick($event)">Start demo</button> -->
</ion-content>
  