<!--
  Generated template for the NoticiaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header paramtitle="{{titulo}}"></header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>{{titulo}}</ion-card-title>
      <p>
          {{preview}}
      </p>
    </ion-card-content>
  </ion-card>
  <button ion-button color="light" (click)="this.navCtrl.popToRoot()">Go back</button>
</ion-content>
