<ion-menu [content]="content" id="menu-app">
    <ion-header>
        <ion-toolbar>
        <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" [class.highlight]="p.active" (click)="openPage(p)">
                    {{p.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav #nav id="nav" #content [root]="rootPage"></ion-nav>
