<!--
  Generated template for the ListaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header paramtitle="Lista de Noticias"></header>
<ion-content>
    <ion-list *ngIf="!sinNoticias">
        <button ion-item *ngFor="let n of noticias" (click)="abrirNoticia(n)">
          <h2>{{n.titulo}}</h2>
          <p>{{n.preview}}</p>
        </button>  
      </ion-list>
      <div text-center *ngIf="sinNoticias" style="color:#424242">
        <h1>:(</h1>
        <h1>There is no <br> news available</h1>
      </div>
</ion-content>
