<ion-header>
  <ion-navbar>
      <ion-navbar>
        <ion-title>{{title}}</ion-title>
        <button ion-button menuToggle end>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-navbar>
  </ion-navbar>
</ion-header>