<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header paramtitle="Sign Up"></header>

<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label floating>Username or Email</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button color="dark" ion-button full>SING UP</button>
    <ion-row>
      <ion-col class="centrado">or</ion-col>
    </ion-row>
    <button ion-button ion-button full class="facebook-btn" icon-start> <ion-icon name="facebook"></ion-icon> LOGIN WITH FACEBOOK</button>
    <button ion-button ion-button full class="google-btn" icon-start> <ion-icon name="google"></ion-icon> LOGIN WITH GOOGLE</button>
  </ion-content>
